

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Proxima';
    overflow-x: hidden;
    position: relative;
    vertical-align: baseline;
}

html {
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h2 {
    padding-bottom: 14px;
}

.accent {
    font-family: 'Proxima Bold';
    line-height: 29px;
    color: #60A9F0;
}

.bold {
    font-weight: bold;
}

.tm-border {
    border: 5px solid #fff;
    box-shadow: 2px 2px #000;
}

.shadow {
    text-shadow: 1px 1px #000;
}

.tm-title {
    color: #66CCFF;
}

.white {
    color: #fff;
}

.about, .skills,
.education, .languages,
.contact, .experience{
    padding: 40px;
    min-height: 330px;
    border-radius: 25px;
}

.education, .languages,
.contact, .experience {
    margin-top: 30px;
}

@font-face {
    font-family: 'Proxima';
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: 'Proxima Bold';
    src: url(../fonts/ProximaNova-Bold.otf);
}

/* preloader section */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
    background: none repeat scroll 0 0 #f9f9f9;
}

.sk-spinner-wordpress.sk-spinner {
    background-color: #3366CC;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    -webkit-animation: sk-innerCircle 1s linear infinite;
    animation: sk-innerCircle 1s linear infinite;
}

.sk-spinner-wordpress .sk-inner-circle {
    display: block;
    background-color: #fff;
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 8px;
    top: 5px;
    left: 5px;
}

@-webkit-keyframes sk-innerCircle {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes sk-innerCircle {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* header section */
header {
    text-align: center;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 160px;
    padding-bottom: 140px;
}

    header img {
        display: inline-block !important;
    }

    header h2 {
        padding-top: 40px;
    }

    header hr {
        border-color: #3366CC;
        width: 100px;
    }

/* about section */
.about {
    background: #fff;
    box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}

/* skills section */
.skills {
    background: #3366CC;
    color: #f5f5f5;
}

    .skills .progress {
        border-radius: 0px;
        height: 4px;
    }

        .skills .progress .progress-bar-primary {
            background: #204090;
        }

    .skills strong {
        display: inline-block;
        font-weight: normal;
        padding-bottom: 6px;
    }

/* education section */
.education {
    background: #3366CC;
    color: #f5f5f5;
}

    .education .education-content {
        padding-bottom: 14px;
    }

    .education h5 {
        display: inline-block;
    }

    .education span {
        padding-right: 10px;
        padding-left: 20px;
    }

/* languages section */
.languages {
    background: #fff;
    box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}

    .languages ul {
        padding: 10px;
    }

        .languages ul li {
            padding-bottom: 6px;
        }

/* contact section */
.contact {
    background: #fff;
    box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}

    .contact .fa {
        padding-right: 6px;
    }

/* experience section */
.experience {
    background: #3366CC;
    color: #f5f5f5;
}

    .experience .experience-content {
        padding-bottom: 14px;
    }

    .experience h5 {
        display: inline-block;
    }

    .experience span {
        padding-right: 10px;
        padding-left: 20px;
    }

/* footer section */
footer {
    color: #f9f9f9;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 100px;
}

/* social icon section */
.social-icons {
    padding: 0;
    margin: 0;
}

    .social-icons li {
        display: inline-block;
        list-style: none;
    }

        .social-icons li a {
            background: #3366CC;
            border-radius: 50%;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            transition: all 0.4s ease-in;
            position: relative;
            bottom: 10px;
            top: 10px;
        }

            .social-icons li a:hover {
                background: #202020;
                color: #fff;
            }

.a {
    list-style-position: outside;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.align-right {
    float: right;
}

ul li span {
    display: inline-block;
    vertical-align: top;
}

ul li:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

@media ( max-width: 980px ) {
    .skills {
        margin-top: 20px;
    }
}

@media ( max-width: 360px ) {
    header h1 {
        font-size: 30px;
    }

    .about h2 {
        font-size: 24px;
    }

    .education h4,
    .experience h4 {
        font-size: 20px;
    }
}

.fadein {
    position: relative;
    height: auto;
}

    .fadein img {
        position: absolute;
        left: 0;
        top: 0;
        max-height: 230px;
    }

    /*thumbnails*/
.certificate-thumbs {
    min-height: 230px;
}

/* Equal adjecent columns height*/
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 10px solid #ffffff;
}



    .myImg:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

[class*="col-"] {
    background-clip: padding-box;
    border: 10px solid transparent;
}

.cert {
    display: inline;
    border-radius: 25px;
    text-shadow: 2px 2px black;
}

.navigation-bar {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;

    color: #666;

}

@import url(http://fonts.googleapis.com/css?family=Raleway);

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #cssmenu:after,
    #cssmenu > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    #cssmenu #menu-button {
        display: none;
    }

#cssmenu {
    width: auto;
    font-family: Raleway, sans-serif;
    line-height: 1;
}

    #cssmenu > ul {

    }

        #cssmenu > ul > li {
            float: left;
            -webkit-perspective: 1000px;
            -moz-perspective: 1000px;
            perspective: 1000px;
        }

    #cssmenu.align-center > ul {
        font-size: 0;
        text-align: center;
    }

        #cssmenu.align-center > ul > li {
            display: inline-block;
            float: none;
        }

    #cssmenu.align-right > ul > li {
        float: right;
    }

    #cssmenu > ul > li > a {
        padding: 16px 20px;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        background: #3366CC;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    #cssmenu > ul > li.active > a {
        color: #dff2fa;
    }

    #cssmenu > ul > li:hover > a,
    #cssmenu > ul > li > a:hover {
        color: #dff2fa;
        -webkit-transform: rotateX(90deg) translateY(-23px);
        -moz-transform: rotateX(90deg) translateY(-23px);
        transform: rotateX(90deg) translateY(-23px);
        -ms-transform: none;
    }

    #cssmenu > ul > li > a::before {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 16px 20px;
        color: #dff2fa;
        background: #19799f;
        content: attr(data-title);
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -ms-transform: translateY(- -18px);
    }

    #cssmenu > ul > li:hover > a::before,
    #cssmenu > ul > li > a:hover::before {
        background: #3db2e1;
    }

    #cssmenu.small-screen {
        width: 100%;
    }

        #cssmenu.small-screen > ul,
        #cssmenu.small-screen.align-center > ul {
            width: 100%;
            text-align: left;
        }

            #cssmenu.small-screen > ul > li,
            #cssmenu.small-screen.align-center {
                float: none;
                display: block;
                border-top: 1px solid rgba(100, 100, 100, 0.1);
            }

                #cssmenu.small-screen > ul > li:hover > a,
                #cssmenu.small-screen > ul > li > a:hover {
                    color: #dff2fa;
                    -webkit-transform: none;
                    -moz-transform: none;
                    transform: none;
                    -ms-transform: none;
                }

                #cssmenu.small-screen > ul > li > a::before {
                    display: none;
                }

        #cssmenu.small-screen #menu-button {
            display: block;
            padding: 16px 20px;
            cursor: pointer;
            font-size: 14px;
            text-decoration: none;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 1px;
            background: #3db2e1;
        }

            #cssmenu.small-screen #menu-button:after {
                content: "";
                position: absolute;
                right: 20px;
                top: 17px;
                display: block;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                border-top: 2px solid #ffffff;
                border-bottom: 2px solid #ffffff;
                width: 22px;
                height: 3px;
            }

            #cssmenu.small-screen #menu-button.menu-opened:after {
                border-top: 2px solid #dff2fa;
                border-bottom: 2px solid #dff2fa;
            }

            #cssmenu.small-screen #menu-button:before {
                content: "";
                position: absolute;
                right: 20px;
                top: 27px;
                display: block;
                width: 22px;
                height: 2px;
                background: #ffffff;
            }

            #cssmenu.small-screen #menu-button.menu-opened:before {
                background: #dff2fa;
            }
