
@{
    ViewBag.Title = "IndexPL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- preloader section -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
    </div>
</div>

<!-- header section -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <img src="~/images/tm-easy-profile.jpg" class="img-responsive img-circle tm-border" alt="profile photo">
                <hr>
                <h1 class="tm-title bold shadow">Witaj ! Jestem Tomek</h1>
            </div>
        </div>
    </div>
</header>

<!-- about and skills section -->
<section class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="about">
                <h3 class="accent">Coś o sobie</h3>
                <br />
                <p>
                    Cześć! Nazywam się Tomek i mieszkam w Polsce. Aktualnie studiuję na studiach podyplomowych na kierunku Technologie ICT i Programowanie ucząc się technologii .Net z wykorzystaniem języka
                    programowania C#. Ukończyłem studia magisterskie na kierunku Mechanika i Budowa Maszyn oraz inżynierskie z Energetyki. Spędziłęm rok na wymianie Erasmus+ ucząc się tam na wydziale
                    Zrównoważonych Energii. Uwielbiam podróżować a ten fakt potwierdzają moję dwie większe wyprawy autostopowe do Grecji i Włoch. Moimi hobby jest rozwiązywanie łamigłówek programistycznych,
                    surfing/bodyboarding, czytanie jak i poszerzanie wiedzy.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="skills">
                <h2 class="white">Umiejętności</h2>
                <ul class="a">
                    <li><strong>Język programowania C#</strong></li>
                    <li><strong>Solidworks (z dodatkiem flow simulation)</strong></li>
                    <li><strong>Windows, ms office</strong></li>
                    <li><span><strong>Wiedza z zakresu .Net Framework (WPF, MVC), Oracle Database SQL, Linux, Html, XML, XAML</strong></span></li>
                    <li><span><strong>Podstawowa znajomość: Git, GitHub, Unity Engine, Android Studio, Android, Photoshop, Sony Vegas Pro, Catia</strong></span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- education and languages-->
<section class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="education">
                <h2 class="white">Edukacja</h2>
                <div class="education-content">
                    <h4 class="education-title accent">Technologie ICT i Programowanie</h4>
                    <div class="education-school">
                        <h5>Politechnika Białostocka</h5><span></span>
                        <div class="align-right">
                            <h5>2017 Październik - 2018 Czerwiec</h5>
                        </div>
                    </div>
                    <p class="education-description"> Studia podyplomowe na temat programowania w języku C# z wykorzystaniem technologii .Net z uwzględnieniem podstaw informatyki.</p>
                </div>
                <div class="education-content">
                    <h4 class="education-title accent">Zrównoważone Energie</h4>
                    <div class="education-school">
                        <h5>Instituto Superior de Engenharia do Porto</h5><span></span>
                        <div class="align-right">
                            <h5>2016 Wrzesień - 2017 Lipiec</h5>
                        </div>
                    </div>
                    <p class="education-description"> Udział w programie wymiany studenckiej Erasmus+ w Portugalii. Studia opierające się o aspekty ekologiczne w energetyce.</p>
                </div>
                <div class="education-content">
                    <h4 class="education-title accent">Studia magisterskie Mechanika i Budowa Maszyn</h4>
                    <div class="education-school">
                        <h5>Politechnika Białostocka</h5><span></span>
                        <div class="align-right">
                            <h5>2016 Luty - 2018 Listopad</h5>
                        </div>
                    </div>
                    <p class="education-description">
                        Specjalizacja technika cieplna, chłodzenie i klimatyzacja. Studia ukończone z oceną 4,5. Temat pracy magisterskiej "Wspomagana komputerowo analiza wymiany ciepła
                        na powierzchniach ożebrowanych" z wykorzystaniem środowiska SolidWorks;
                    </p>
                </div>
                <div class="education-content">
                    <h4 class="education-title accent">Studia inżynierskie Energetyka</h4>
                    <div class="education-school">
                        <h5>Politechnika Białostocka</h5><span></span>
                        <div class="align-right">
                            <h5>2011 Wrzesień - 2015 Marzec</h5>
                        </div>
                    </div>
                    <p class="education-description">
                        Specjalizacja przesyłu i wytwarzania energii ukończona z oceną 4. Temat pracy inżynierskiej "Projekt gruntowego wymiennika ciepła" przy użyciu oprogramowania SolidWorks.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="languages">
                <h2>Języki</h2>
                <ul>
                    <li>Polski (Język Ojczysty)</li>
                    <li>Angielski (B2 zgodnie z  CEFR)</li>
                    <li>Grecki (Początkujący)</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- experience and contact-->
<section class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="experience">
                <h2 class="white">Doświadczenie</h2>
                <div class="experience-content">
                    <h4 class="experience-title accent">Pracownik magazynu</h4>

                    <h5>Wm Morrison Supermarkets plc</h5><span></span>
                    <div class="align-right">
                        <h5>2015 Czerwiec - 2015 Wrzesień</h5>
                    </div>
                    <p class="education-description">Wakacyjna praca w Anglii.</p>
                </div>
                <div class="experience-content">
                    <h4 class="experience-title accent">Praktykant</h4>
                    <h5>Enea S.A. Produkcja</h5>
                    <div class="align-right">
                        <h5>2014 Lipiec - 2014 Sierpień</h5>
                    </div>
                </div>
                <p class="education-description">Praktyka w elektrociepłowni Białystok.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="contact">
                <h2>Kontakt</h2>
                <p><i class="fa fa-map-marker"></i> Białystok</p>
                <p><i class="fa fa-phone"></i> +48 505 800 085</p>
                <p><i class="fa fa-envelope"></i> tomasz.misiejuk@gmail.com</p>
                <p><i class="fa fa-globe"></i> www.tomaszm.aspnet.pl</p>
            </div>
        </div>
    </div>
</section>




